*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;  
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.row-items{
    padding-bottom: 60px;
    margin-top: 20px;
}

.row-items::after{
    content: '';
    display: table;
    clear: both;
}

.item{
    width: calc(100% / 3 - 20px);
    float: left;
}

.item.middle{
    margin: 0 30px;
}

/* top-section item (image + heart  +discount/product-type) */

.image{
    position: relative;
}

img{
    width: 100%;
}


img.hover{
    display: none;
}

.image:hover .img-item{
    display: none;
}

.image:hover .hover{
    display: block;
}

.heart{
    font-size: 45px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    width: 50px;
    position: absolute;
    right: 0px;
    top : 10px;
}

.info-item{
    position: absolute;
    bottom: 20px;
}

.info-item-special{
    position: absolute;
    bottom: 20px;
}

.discount{
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}

.product-type{
    background-color: #00875a;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}

/* special overlay */

.overlay{
    height: 26%;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    transition: .5s ease;
}

.image:hover .info-item-special{
    position: absolute;
    bottom: 160px;
}

.image:hover .overlay{
    display: block;
}

.more-size{
    display: inline-block;
    font-size: 14px;
    padding: 15px 0;
}

.pull{
    width: 60px;
}

/* bottom-section item (item description: brand + name + price) */

.item-description{
    padding-top: 10px;
    font-size: 18px;
}

.brand{
    display: inline-block;
    padding-bottom: 5px;
    color: #3d3d3d;
}
.item-description .brand .symbol{
    font-size: 12px;
    vertical-align: text-top;
}

.item-description .name-item .name{
    text-transform: uppercase;
    padding-top: 10px;
}

.item-description .price{
    color: red;
    display: inline-block;
    padding-top: 20px
}

.item-description .price-black{
    color: black;
    display: inline-block;
    padding-top: 20px
}

.advertise{
    position: relative;
}

.advertise-description{
    background-color: #5ab451;
    position:absolute;
    top: 534px;
    width: 100%;
    padding: 25px;
}

.slogan-1, .slogan-2{
    font-size: 18px;
    line-height: 25px;
    display: block;
}
