*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.row-items::after{
    content: '';
    display: table;
    clear: both;
}

.item{
    width: calc(100% / 3 - 20px);
    float: left;
}

.item.middle{
    margin: 0 30px;
}

/* top-section item (image + heart  +discount/product-type) */

.image{
    position: relative;
}

img{
    width: 100%;
}


img.hover{
    display: none;
}

.image:hover img{
    display: none;
}

.image:hover .hover{
    display: block;
}

.heart{
    font-size: 45px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    width: 50px;
    position: absolute;
    right: 0px;
    top : 10px;
}

.info-item{
    position: absolute;
    bottom: 20px;
}

.discount{
    background-color: red;
    padding: 5px 10px;
    color: white;
}

.product-type{
    background-color: #00875a;
    padding: 5px 10px;
    color: white;
}

/* bottom-section item (item description: brand + name + price) */

.item-description{
    padding-top: 10px;
    font-size: 19px;
}

.item-description .brand .symbol{
    font-size: 12px;
    vertical-align: text-top;
}

.item-description .name-item .name{
    text-transform: uppercase;
    padding-top: 10px;
}

.item-description .price{
    color: red;
    display: inline-block;
}

.price{
    padding-top: 15px;
}

.advertise-description{
    position: absolute;
    background-color: #5ab451;
    height: 100px;
}


